.choose-framework{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.choose-inner-fraework{
    padding: 10px;
    margin-right: 20px;
    border: 1px dotted black;
    display: flex;
    flex: 0 0 45%;
}
.choose-inner-fraework:hover {
    border: 2px solid gray;
}
@media screen and (max-width:768px) {
    .choose-inner-fraework{
        display: flex;
        flex: 0 0 90%;
        margin: 10px auto;
    }
}