header {
    position: relative;
    z-index: 4;
}
header h1{
    font-family: none;
}
body {
    background: url("../image/bak-ground.jpg") no-repeat center center fixed;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.content-framework {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.left-framework {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 300px 0 0;
    width: 50%;
    text-align: center;
}

.right-framework {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 150px;
    width: 50%;
    height: 100%;
    text-align: left;
}

.frosted-glass {
    background: linear-gradient(113.92deg, rgba(160, 160, 160, 0.5) 1.94%, rgba(217, 217, 217, 0) 100%);
    backdrop-filter: blur(15px);
}

.login-framework {
    width: 100%;
}

.select-style {
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.select-style select {
    padding: 5px 8px;
    border: none;
    box-shadow: none;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus,
input:focus,
input:active {
    outline: none;
    background-color: transparent;
}

.font-style,
.form-name,
.form-title {
    font-weight: 700;
    align-items: center;
    color: #000;
}

.font-style {
    line-height: 97px;
    font-size: 80px;
    display: flex;
    text-align: center;
}

.form-title {
    font-size: 26px;
    line-height: 35px;
    display: flex;
}

.form-control {
    font-size: 20px;
    line-height: 30px;
    display: flex;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #404040;
    background-color: transparent;
    outline: none;
    padding: 0;
}

.form-option {
    font-size: 20px;
    line-height: 30px;
    display: flex;
    width: 100%;
}

@media screen and (max-width: 1430px) {
    ::placeholder {
        color: #F0F0F0 !important;
    }

    .left-framework {
        justify-content: center;
        padding: 0;
        width: 40%;
    }

    .font-style {
        line-height: 70px;
        font-size: 60px;
        display: flex;
        text-align: center;
    }

    .right-framework {
        padding: 0 60px;
        width: 60%;
    }
}

@media screen and (max-width: 980px) {
    .content-framework {
        margin-top: 50px !important;
        padding-top: 50px !important;
        margin-bottom: 50px !important;
        position: static;
        display: block;
        margin: 0 auto;
        padding: 0;
        min-height: inherit;
        border-radius: 15px;
    }

    .content-framework {
        background: linear-gradient(113.92deg, rgba(160, 160, 160, 0.5) 1.94%, rgba(217, 217, 217, 0) 100%);
        backdrop-filter: blur(15px);
        margin: 0 30px;
    }

    .frosted-glass {
        background: none;
        backdrop-filter: none;
    }

    .form-name {
        justify-content: center;
    }

    .login-framework {
        margin-top: 30px;
    }
}

@media screen and (max-width: 770px) {
    .right-framework {
        padding: 0 75x;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .font-style {
        line-height: 65px;
        font-size: 60px !important;
        display: flex;
        text-align: center;
    }

    .form-title {
        font-size: 34px;
        line-height: 60px;
        display: flex;
    }

    .form-control {
        font-size: 24px;
        line-height: 40px;
        display: flex;
        border-top: none;
    }

    .form-group {
        margin-bottom: 25px !important;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: auto;
        display: flex;
        align-items: center;
    }

    .font-style {
        line-height: 65px;
        font-size: 55px !important;
        display: flex;
        text-align: center;
    }

    .form-title {
        font-size: 30px;
        line-height: 50px;
        display: flex;
    }

    .form-control {
        font-size: 22px;
        line-height: 35px;
        display: flex;
        border-top: none;
    }
}

@media screen and (max-width: 430px) {
    .container {
        width: auto;
        display: flex;
        align-items: center;
    }

    .font-style {
        line-height: 50px;
        font-size: 45px !important;
        display: flex;
        text-align: center;
    }

    .form-title {
        font-size: 28px;
        line-height: 40px;
        display: flex;
    }

    .form-control {
        font-size: 20px;
        line-height: 30px;
        display: flex;
        border-top: none;
    }
}