<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>首頁</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="../Static/js/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="../Static/js/jquery-3.5.0.min.js"></script>
    <link href="../Static/css/first_page_layout.css" rel="stylesheet">
    <link href="../Static/css/header.css" rel="stylesheet">
</head>

<body>
    <header id="top">
        <div class="header_container">
            <h1 class="logo header_right"><a href="#">MEISER</a></h1>
            <!--MEISER icon-->
            <div class="header_left">
                <div class="toplink"></div>
                <!--MEISER List-->
                <div class="login">
                    <a class="person_size" href="#">
                        <img class="login_icon" src="../Static/css/person-circle.svg">
                    </a>
                    <span>Test_Name</span>
                    <div class="setting_size">
                        <img class="setting_icon" src="../Static/css/caret-down-fill.svg">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="content_body justify-content-center">
        <div class="content_size">
            <div class="content_title">學生問卷</div>
            <div class="separate_line"></div>
            <div class="content_text">
                <ul>
                    <li class="text_rows">
                        <div class="text_style" onclick="location.href='../HTML_Model/student_information.html';">課堂投入、獨立性和社會關係評量表</div>
                    </li>
                    <li class="text_rows">
                        <div class="text_style" onclick="location.href='#';">投入、獨立性及社會關係評估表(3~5歲)</div>
                    </li>
                    <li class="text_rows">
                        <div class="text_style" onclick="location.href='#';">問卷三</div>
                    </li>
                    <li class="text_rows">
                        <div class="text_style" onclick="location.href='#';">問卷四</div>
                    </li>
                    <li class="text_rows">
                        <div class="text_style" onclick="location.href='#';">問卷五</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content_size">
            <div class="content_title">進行中</div>
            <div class="separate_line"></div>
            <div class="content_text">
                <ul>
                    <li class="text_rows">
                        <div class="text_style" onclick="location.href='#';">問卷一</div>
                    </li>
                    <li class="text_rows">
                        <div class="text_style" onclick="location.href='#';">問卷二</div>
                    </li>
                    <li class="text_rows">
                        <div class="text_style" onclick="location.href='#';">問卷三</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content_size">
            <div class="content_title">教師問卷</div>
            <div class="separate_line"></div>
            <div class="content_text">
                <ul>
                    <li class="text_rows">
                        <div class="text_style" onclick="location.href='#';">問卷一</div>
                    </li>
                    <li class="text_rows">
                        <div class="text_style" onclick="location.href='#';">問卷二</div>
                    </li>
                    <li class="text_rows">
                        <div class="text_style" onclick="location.href='#';">問卷三</div>
                    </li>
                    <li class="text_rows">
                        <div class="text_style" onclick="location.href='#';">問卷四</div>
                    </li>
                    <li class="text_rows">
                        <div class="text_style" onclick="location.href='#';">問卷五</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
<!--動畫-->
<script type="text/javascript" src="../Static/js/skrollr-master/dist/skrollr.min.js"></script>
<script type="text/javascript">
    skrollr.init({
        forceHeight: false,
        smoothScrolling: true
    });
</script>
<link href="../Static/css/animate.css" rel="stylesheet" type="text/css">
<script src="../Static/js/wow.min.js"></script>
<script>
    if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
        new WOW().init();
    };
</script>

</html>