<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>學生基本資料填寫</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="../Static/css/student_information_layout.css" />
    <link rel="stylesheet" type="text/css" href="../Static/js/bootstrap-4.4.1-dist/css/bootstrap.min.css" />
    <link href="../Static/css/header.css" rel="stylesheet">
    <script src="../Static/js/option_click.js"></script>
    <script src="../Static/js/change_input_status.js"></script>
    <script src="../Static/js/jquery-3.5.0.min.js"></script>
    <script src="../Static/gijgo/js/gijgo.min.js" type="text/javascript"></script>
    <link href="../Static/gijgo/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <header id="top">
        <div class="header_container">
            <h1 class="logo header_right"><a href="#">MEISER</a></h1>
            <!--MEISER icon-->
            <div class="header_left">
                <div class="toplink"></div>
                <!--MEISER List-->
                <div class="login">
                    <a class="person_size" href="#">
                        <img class="login_icon" src="../Static/css/person-circle.svg">
                    </a>
                    <span>Test_Name</span>
                    <div class="setting_size">
                        <img class="setting_icon" src="../Static/css/caret-down-fill.svg">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="main-framwork">
        <!--問答-->
        <div class="question-framwork">
            <div class="inner-framwork">
                <div>
                    <h5 class="theme-css">
                        <div class="theme-flex">
                            <div>
                                學生基本資料填寫
                            </div>
                        </div>
                    </h5>
                    <div class="form_detail"></div>
                </div>
                <form>
                    <div>
                        <div>
                            <div>
                                <div class="std_information_framwork">
                                    <div class="option_title">兒童姓名</div>
                                    <div class="input_style">
                                        <input id="student_name" class="student_name_style" type="text"
                                            placeholder="請輸入學生姓名">
                                    </div>
                                </div>
                                <div class="std_information_framwork">
                                    <div class="option_title">兒童性別</div>
                                    <div class="option_content">
                                        <label class="gender_option">
                                            <span class="option_position">
                                                <input class="option_circle" type="radio" name="gender" value="male">
                                            </span>
                                            <span class="option_value">男</span>
                                        </label>
                                        <label class="gender_option">
                                            <span class="option_position">
                                                <input class="option_circle" type="radio" name="gender" value="female">
                                            </span>
                                            <span class="option_value">女</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="std_information_framwork">
                                    <div class="student_age_framwork">
                                        <div class="student_age_inner_framwork">
                                            <div class="option_title">兒童生日</div>
                                            <div>
                                                <input id="age_datepicker" width="276" onselect="countage()" />
                                                <script>
                                                    $('#age_datepicker').datepicker({
                                                        uiLibrary: 'bootstrap4',
                                                        format: 'yyyy-mm-dd'
                                                    });
                                                </script>
                                                <script>
                                                    function countage() {
                                                        var $datepicker = $('#age_datepicker').datepicker();
                                                        console.log($datepicker.value());
                                                    }
                                                </script>
                                                <!--<button class="gj-button-md" onclick="alert($datepicker.value())">Get Value</button>
                                                <script>
                                                    var $datepicker = $('#datepicker').datepicker();
                                                </script> -->
                                            </div>
                                        </div>
                                        <div class="student_age_inner_framwork">
                                            <div class="option_title">兒童年齡 (將由系統自動計算)</div>
                                            <div class="input_style">
                                                <input id="student_age" class="student_name_style" type="text"
                                                    placeholder="" readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="std_information_framwork">
                                    <div class="option_title">量表填寫日期</div>
                                    <div>
                                        <input id="quest_datepicker" width="276" />
                                        <script>
                                            $('#quest_datepicker').datepicker({
                                                uiLibrary: 'bootstrap4'
                                            });
                                        </script>
                                    </div>
                                </div>
                                <div class="std_information_framwork">
                                    <div class="option_title">就學情形</div>
                                    <div class="input_style">
                                        <input id="school_attendance" class="student_name_style" type="text"
                                            placeholder="請輸入就學情形">
                                    </div>
                                </div>
                                <div class="std_information_framwork">
                                    <div class="option_title">量表填答人</div>
                                    <div class="input_style">
                                        <input id="quest_name" class="student_name_style" type="text"
                                            placeholder="請輸入量表填答人姓名">
                                    </div>
                                </div>
                                <div class="std_information_framwork">
                                    <div class="option_title">和兒童的關係</div>
                                    <div class="input_style">
                                        <input id="student_relationship" class="student_name_style" type="text"
                                            placeholder="請輸入和兒童的關係">
                                    </div>
                                </div>
                                <div class="std_information_framwork">
                                    <div class="option_title">診斷</div>
                                    <div class="diagnosis">
                                        <label class="diagnosis_framwork">
                                            <input class="option_square" type="checkbox" name="診斷1">
                                            <span class="choice-css">診斷1</span>
                                        </label>
                                        <label class="diagnosis_framwork">
                                            <input class="option_square" type="checkbox" name="診斷2">
                                            <span class="choice-css">診斷2</span>
                                        </label>
                                        <label class="diagnosis_framwork">
                                            <input class="option_square" type="checkbox" name="診斷3">
                                            <span class="choice-css">診斷3</span>
                                        </label>
                                        <label class="diagnosis_framwork">
                                            <input class="option_square" type="checkbox" name="診斷4">
                                            <span class="choice-css">診斷4</span>
                                        </label>
                                        <label class="diagnosis_framwork">
                                            <input class="option_square" type="checkbox" name="診斷5">
                                            <span class="choice-css">診斷5</span>
                                        </label>
                                        <label class="diagnosis_framwork">
                                            <input class="option_square" type="checkbox" name="診斷6">
                                            <span class="choice-css">診斷6</span>
                                        </label>
                                        <label class="diagnosis_framwork">
                                            <input class="option_square" type="checkbox" name="診斷7">
                                            <span class="choice-css">診斷7</span>
                                        </label>
                                        <label class="diagnosis_framwork">
                                            <input class="option_square" type="checkbox" name="診斷8">
                                            <span class="choice-css">診斷8</span>
                                        </label>
                                        <label class="diagnosis_framwork">
                                            <input class="option_square" type="checkbox" name="診斷9">
                                            <span class="choice-css">診斷9</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="std_information_framwork">
                                    <div class="option_title">同住者</div>
                                    <div class="living">
                                        <label class="living_framwork">
                                            <input class="option_square" type="checkbox" name="父親">
                                            <span class="choice-css">父母</span>
                                        </label>
                                        <label class="living_framwork">
                                            <input class="option_square" type="checkbox" name="父親">
                                            <span class="choice-css">爺爺奶奶</span>
                                        </label>
                                        <label class="living_framwork">
                                            <input class="option_square" type="checkbox" name="父親">
                                            <span class="choice-css">其他</span>
                                        </label>
                                    </div>
                                    <div class="option_title">主要照顧者</div>
                                    <div>
                                        <div class="living">
                                            <label class="living_framwork">
                                                <input class="option_square" type="checkbox" name="父親">
                                                <span class="choice-css">父母</span>
                                            </label>
                                            <label class="living_framwork">
                                                <input class="option_square" type="checkbox" name="父親">
                                                <span class="choice-css">爺爺奶奶</span>
                                            </label>
                                            <label class="living_framwork">
                                                <input class="option_square" type="checkbox" name="父親">
                                                <span class="choice-css">其他</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="option_title">次要照顧者</div>
                                    <div>
                                        <div class="living">
                                            <label class="living_framwork">
                                                <input class="option_square" type="checkbox" name="父親">
                                                <span class="choice-css">父母</span>
                                            </label>
                                            <label class="living_framwork">
                                                <input class="option_square" type="checkbox" name="父親">
                                                <span class="choice-css">爺爺奶奶</span>
                                            </label>
                                            <label class="living_framwork">
                                                <input class="option_square" type="checkbox" name="父親">
                                                <span class="choice-css">其他</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="send-framwork">
                        <div class="next-page">
                            <button type="button" class="next-button" onclick="document.href='../HTML_Model/index.html'"><span>下一頁</span></button>
                            <div id="fill_alart" class="fill-alart"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>